{% extends 'base.html' %}
{% load static %}

{% block title %}Kegiatan (Observer Mode){% endblock title %}

{% block head %}
<style>
  .page{
    font-family: 'Courier New', Courier, monospace;
  }

  .table-scrollable {
    overflow-x: auto;
    max-width: 100%;
    margin: auto;
  }
</style>
{% endblock head %}

{% block body %}
<div class="container page mt-4">
  <h1>Daftar Kegiatan</h1>
  <div class="p-1">
    <form>
      {% if perms.data.add_kegiatan %}
        <a href="{% url 'kegiatan_form_add' %}" class="btn btn-sm btn-outline-success">Add Kegiatan</a>
      {% endif %}
      <input class="form-control-sm" type="search" placeholder="Search" aria-label="Search" name="q">
    </form>
  </div>

  <div class="table-responsive table-scrollable">
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Nama Kegiatan</th>
          <th scope="col">Tanggal Pelaksanaan</th>
          <th scope="col">Lokasi Pelaksanaan</th>
          <th scope="col">Update Terakhir</th>
          <th scope="col">User</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        {% for data in dataset %}
          <tr>
            <th scope="row"></th>
            <td><a href="{% url 'kegiatan_detail' data.id %}">{{data.nama}}</a></td>
            <td>{{data.tanggal_mulai}} - {{data.tanggal_selesai}}</td>
            <td>{{data.alamat.nama_desa|title}}, {{data.alamat.nama_kec|title}}, {{data.alamat.nama_kabkot|title}}, {{data.alamat.nama_prov|title}}</td>
            <td>{{data.updated_at}}</td>
            <td>{{data.user}}</td>
            <td class="text-end">
              {% if perms.data.change_kegiatan %}
              <a href="{% url 'kegiatan_form_comment' data.id %}" class="text-decoration-none">👁️‍🗨️</a>
              {% endif %}
            </td>  
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

  {% include 'paginator.html' %}

  <script>
    function nomor_otomatis(tabel){
      const table = document.getElementsByTagName('tbody')[tabel],
      rows = table.getElementsByTagName('tr'),
      text = 'textContent' in document ? 'textContent' : 'innerText';
    
      for (let i = 0, len = rows.length; i < len; i++) {
        rows[i].children[0][text] = 1 + i + rows[i].children[0][text];
      }
    }

    nomor_otomatis(0)
  </script>
  
</div>
{% endblock body %}