{% extends 'base.html' %}
{% load static %}

{% block title %}Peserta Kegiatan (Observer Mode){% endblock title %}

{% block head %}
<style>
  .page{
    font-family: 'Courier New', Courier, monospace;
  }

  .table-scrollable {
    overflow-x: auto;
    max-width: 100%;
    margin: auto;
  }
</style>
{% endblock head %}

{% block body %}
<div class="container page mt-4">
  <h1>Daftar Peserta Kegiatan</h1>
  <div class="p-1">
    <form>
      {% if perms.data.add_pesertakegiatan %}
        <a href="{% url 'peserta_kegiatan_form_add' %}" class="btn btn-sm btn-outline-success">Add Peserta Kegiatan</a>
      {% endif %}
      <input class="form-control-sm" type="search" placeholder="Search nama peserta" aria-label="Search" name="q">
    </form>
  </div>

  <div class="table-responsive table-scrollable">
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Nama Kegiatan</th>
          <th scope="col">Nama Peserta</th>
          <th scope="col">Status Peserta</th>
          <th scope="col">Update Terakhir</th>
          <th scope="col">User</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        {% for data in dataset %}
          <tr>
            <th>{{data.id}}</th>
            <td><a href="{% url 'kegiatan_detail' data.kegiatan.id %}" target="_blank">{{data.kegiatan.nama}}</a></td>
            <td>{{data.peserta.nama_lengkap}}</td>
            <td>{{data.status_kehadiran}}</td>
            <td>{{data.updated_at}}</td>
            <td>{{data.user}}</td>
            <td class="text-end">
              {% if perms.data.change_pesertakegiatan %}
              <a href="{% url 'peserta_kegiatan_form_comment' data.id %}" class="text-decoration-none">👁️‍🗨️</a>
              {% endif %}
            </td>  
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

  {% include 'paginator.html' %}
  
</div>
{% endblock body %}