{% extends 'base.html' %}
{% load static %}
{% load leaflet_tags %}

{% block title %}Lahan (Observer Mode){% endblock title %}

{% block head %}
<style>
  .page{
    font-family: 'Courier New', Courier, monospace;
  }

  .table-scrollable {
    overflow-x: auto;
    max-width: 100%;
    margin: auto;
  }
</style>
  {% leaflet_js %}
  {% leaflet_css %}
{% endblock head %}

{% block body %}
<div class="container page mt-4">
<!-- LEAFLET AJAX -->
  <script src="{% static 'leaflet/leaflet.ajax.min.js' %}" charset="utf-8"></script>
  <!-- LEAFLET FULL SCREEN -->
  <script src="{% static 'leaflet/fullscreen/leaflet.fullscreen.min.js' %}"></script>
  <link rel="stylesheet" href="{% static 'leaflet/fullscreen/leaflet.fullscreen.css' %}">
  <!-- LEAFLET GEOLOCATION -->
  <link rel="stylesheet" href="{% static 'leaflet/geolocation/L.Control.Locate.min.css' %}" />
  <script src="{% static 'leaflet/geolocation/L.Control.Locate.min.js' %}" charset="utf-8"></script>


  <script type="text/javascript">
    function place_pos(map, options){
      const dataset = new L.GeoJSON.AJAX("{% url 'lahan_json_observer' %}",{
        onEachFeature: function(feature, layer){
          layer.bindPopup(
            `<p><a href="/forms/lahan/${feature.properties.pk}/" class="text-decoration-none">` + 
              feature.properties.pk + '</a><br>' + 'nantinya diisi nama petani' +
              '</p>'
          )
        }
      });
      dataset.addTo(map)

      map.addControl(new L.Control.Fullscreen());

      L.control.locate().addTo(map);
    }
  </script>

  <h1>Daftar Lahan</h1>
  <div class="p-1">
    <form>
      {% if perms.data.add_lahan %}
        <a href="{% url 'lahan_form_add' %}" class="btn btn-sm btn-outline-success">Add Lahan</a>
      {% endif %}
      <input class="form-control-sm" type="search" placeholder="Search" aria-label="Search" name="q">
    </form>
  </div>

  <div class="pb-2 pt-3">
    {% leaflet_map "gis" callback="window.place_pos" %}
  </div>

  <div class="table-responsive table-scrollable">
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Nama Petani</th>
          <th scope="col">Status Petani</th>
          <th scope="col">Nomor Legalitas</th>
          <th scope="col">Jenis Legalitas</th>
          <th scope="col">Update Terakhir</th>
          <th scope="col">User</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        {% for data in dataset %}
          <tr>
            <th scope="row"><a href="{% url 'lahan_detail' data.id %}">{{data.id}}</a></th>
            <td>{{data.petani.nama_lengkap}}</td>
            <td>{{data.status_petani|title}}</td>
            <td>{{data.nomor_legalitas}}</td>
            <td>{{data.jenis_legalitas}}</td>
            <td>{{data.updated_at}}</td>
            <td>{{data.user}}</td>
            <td class="text-end">
              {% if perms.data.change_lahan %}
              <a href="{% url 'lahan_form_comment' data.id %}" class="text-decoration-none">👁️‍🗨️</a>
              {% endif %}
            </td>  
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

  {% include 'paginator.html' %}
  
</div>
{% endblock body %}