{% extends 'base.html' %}
{% load static %}
{% load leaflet_tags %}

{% block title %}Testing Toko (Observer Mode){% endblock title %}

{% block head %}
<style>
  .page{
    font-family: 'Courier New', Courier, monospace;
  }

  .table-scrollable {
    overflow-x: auto;
    max-width: 100%;
    margin: auto;
  }
</style>
  {% leaflet_js %}
  {% leaflet_css %}
{% endblock head %}

{% block body %}
<div class="container page mt-4">
  <!-- LEAFLET AJAX -->
  <script src="{% static 'leaflet/leaflet.ajax.min.js' %}" charset="utf-8"></script>
  <!-- LEAFLET FULL SCREEN -->
  <script src="{% static 'leaflet/fullscreen/leaflet.fullscreen.min.js' %}"></script>
  <link rel="stylesheet" href="{% static 'leaflet/fullscreen/leaflet.fullscreen.css' %}">
  <!-- LEAFLET GEOLOCATION -->
  <link rel="stylesheet" href="{% static 'leaflet/geolocation/L.Control.Locate.min.css' %}" />
  <script src="{% static 'leaflet/geolocation/L.Control.Locate.min.js' %}" charset="utf-8"></script>

  <script type="text/javascript">
    function place_pos(map, options){
      const dataset = new L.GeoJSON.AJAX("{% url 'testing_toko_json_observer' %}",{
        onEachFeature: function(feature, layer){
          layer.bindPopup(
            `<p><a href="/forms/testing-toko/${feature.properties.pk}/" class="text-decoration-none">` + 
              feature.properties.name_shop + '</a></p>'
          )
        },
        filter: function(feature){
          return feature.properties.name_shop.toLowerCase().includes('{{query}}'.toLowerCase())
        }
      });
      dataset.addTo(map)

      map.addControl(new L.Control.Fullscreen());

      L.control.locate().addTo(map);
    }
  </script>

  <h1>Daftar Toko</h1>
  <div class="p-1">
    <form>
      {% if perms.data.add_shop %}
      <a href="{% url 'testing_toko_form' %}" class="btn btn-sm btn-outline-success">Add Toko</a>
      {% endif %}
      <input class="form-control-sm" type="search" placeholder="Search" aria-label="Search" name="q">
    </form>
  </div>

  <div class="pb-2 pt-3">
    {% leaflet_map "gis" callback="window.place_pos" %}
  </div>

  <div class="table-responsive table-scrollable">
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">
            <div class="btn-group">
              <button class="btn btn-sm btn-white" type="button"><b>ID</b></button>
              <button type="button" class="btn btn-sm btn-white dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false"><span class="visually-hidden">Toggle Dropdown</span></button>
              <ul class="dropdown-menu">
                <li><a href="?page={{page}}&amp;q={{query}}&amp;o=id" class="text-decoration-none text-dark">Sort ascending</a></li>
                <li><a href="?page={{page}}&amp;q={{query}}&amp;o=-id" class="text-decoration-none text-dark">Sort descending</a></li>
              </ul>
            </div>
          </th>
          <th scope="col">
            <div class="btn-group">
              <button class="btn btn-sm btn-white" type="button"><b>Nama Toko</b></button>
              <button type="button" class="btn btn-sm btn-white dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false"><span class="visually-hidden">Toggle Dropdown</span></button>
              <ul class="dropdown-menu">
                <li><a href="?page={{page}}&amp;q={{query}}&amp;o=name_shop" class="text-decoration-none text-dark">Sort ascending</a></li>
                <li><a href="?page={{page}}&amp;q={{query}}&amp;o=-name_shop" class="text-decoration-none text-dark">Sort descending</a></li>
              </ul>
            </div>
          </th>
          <th scope="col">
            <div class="btn-group">
              <button class="btn btn-sm btn-white" type="button"><b>Buka</b></button>
              <button type="button" class="btn btn-sm btn-white dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false"><span class="visually-hidden">Toggle Dropdown</span></button>
              <ul class="dropdown-menu">
                <li><a href="?page={{page}}&amp;q={{query}}&amp;o=Open" class="text-decoration-none text-dark">Sort ascending</a></li>
                <li><a href="?page={{page}}&amp;q={{query}}&amp;o=-Open" class="text-decoration-none text-dark">Sort descending</a></li>
              </ul>
            </div>
          </th>
          <th scope="col">
            <div class="btn-group">
              <button class="btn btn-sm btn-white" type="button"><b>Kapasitas</b></button>
              <button type="button" class="btn btn-sm btn-white dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false"><span class="visually-hidden">Toggle Dropdown</span></button>
              <ul class="dropdown-menu">
                <li><a href="?page={{page}}&amp;q={{query}}&amp;o=capacity" class="text-decoration-none text-dark">Sort ascending</a></li>
                <li><a href="?page={{page}}&amp;q={{query}}&amp;o=-capacity" class="text-decoration-none text-dark">Sort descending</a></li>
              </ul>
            </div>
          </th>
          <th scope="col">
            <div class="btn-group">
              <button class="btn btn-sm btn-white" type="button"><b>Update Terakhir</b></button>
              <button type="button" class="btn btn-sm btn-white dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false"><span class="visually-hidden">Toggle Dropdown</span></button>
              <ul class="dropdown-menu">
                <li><a href="?page={{page}}&amp;q={{query}}&amp;o=updated_at" class="text-decoration-none text-dark">Sort ascending</a></li>
                <li><a href="?page={{page}}&amp;q={{query}}&amp;o=-updated_at" class="text-decoration-none text-dark">Sort descending</a></li>
              </ul>
            </div>
          </th>
          <th scope="col">
            <div class="btn-group">
              <button class="btn btn-sm btn-white" type="button"><b>User</b></button>
              <button type="button" class="btn btn-sm btn-white dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false"><span class="visually-hidden">Toggle Dropdown</span></button>
              <ul class="dropdown-menu">
                <li><a href="?page={{page}}&amp;q={{query}}&amp;o=user" class="text-decoration-none text-dark">Sort ascending</a></li>
                <li><a href="?page={{page}}&amp;q={{query}}&amp;o=-user" class="text-decoration-none text-dark">Sort descending</a></li>
              </ul>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        {% for data in dataset %}
          <tr>
            <th scope="row"><a href="{% url 'testing_toko_detail' data.id %}">{{data.id}}</a></th>
            <td>{{data.name_shop}}</td>
            <td>{{data.Open}}</td>
            <td>{{data.capacity}}</td>
            <td>{{data.updated_at}}</td>
            <td>{{data.user}}</td>
            <td class="text-end">
              {% if perms.data.change_shop %}
                <a href="{% url 'testing_toko_form_comment' data.id %}" class="text-decoration-none">👁️‍🗨️</a>
              {% endif %}
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

  {% include 'paginator_v2.html' %}

</div>
{% endblock body %}