{% extends 'base.html' %}
{% load static %}

{% block title %}Testing Artikel (Observer Mode){% endblock title %}

{% block head %}
<style>
  .page{
    font-family: 'Courier New', Courier, monospace;
  }

  .table-scrollable {
    overflow-x: auto;
    max-width: 100%;
    margin: auto;
  }
</style>
{% endblock head %}

{% block body %}
<div class="container page mt-4">
  <h1>Daftar Artikel</h1>
  <div class="p-1">
    <form>
      {% if perms.data.add_testing %}
      <a href="{% url 'testing_artikel_form' %}" class="btn btn-sm btn-outline-success">Add Article</a>
      {% endif %}
      <input class="form-control-sm" type="search" placeholder="Search" aria-label="Search" name="q">
    </form>
  </div>
  <div class="table-responsive table-scrollable">
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">
            <div class="btn-group">
              <button class="btn btn-sm btn-white" type="button"><b>ID</b></button>
              <button type="button" class="btn btn-sm btn-white dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false"><span class="visually-hidden">Toggle Dropdown</span></button>
              <ul class="dropdown-menu">
                <li><a href="?page={{page}}&amp;q={{query}}&amp;o=id" class="text-decoration-none text-dark">Sort ascending</a></li>
                <li><a href="?page={{page}}&amp;q={{query}}&amp;o=-id" class="text-decoration-none text-dark">Sort descending</a></li>
              </ul>
            </div>
          </th>
          <th scope="col">
            <div class="btn-group">
              <button class="btn btn-sm btn-white" type="button"><b>Kode</b></button>
              <button type="button" class="btn btn-sm btn-white dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false"><span class="visually-hidden">Toggle Dropdown</span></button>
              <ul class="dropdown-menu">
                <li><a href="?page={{page}}&amp;q={{query}}&amp;o=kode" class="text-decoration-none text-dark">Sort ascending</a></li>
                <li><a href="?page={{page}}&amp;q={{query}}&amp;o=-kode" class="text-decoration-none text-dark">Sort descending</a></li>
              </ul>
            </div>
          </th>
          <th scope="col">
            <div class="btn-group">
              <button class="btn btn-sm btn-white" type="button"><b>Nama</b></button>
              <button type="button" class="btn btn-sm btn-white dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false"><span class="visually-hidden">Toggle Dropdown</span></button>
              <ul class="dropdown-menu">
                <li><a href="?page={{page}}&amp;q={{query}}&amp;o=nama" class="text-decoration-none text-dark">Sort ascending</a></li>
                <li><a href="?page={{page}}&amp;q={{query}}&amp;o=-nama" class="text-decoration-none text-dark">Sort descending</a></li>
              </ul>
            </div>
          </th>
          <th scope="col">
            <div class="btn-group">
              <button class="btn btn-sm btn-white" type="button"><b>Update Terakhir</b></button>
              <button type="button" class="btn btn-sm btn-white dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false"><span class="visually-hidden">Toggle Dropdown</span></button>
              <ul class="dropdown-menu">
                <li><a href="?page={{page}}&amp;q={{query}}&amp;o=updated_at" class="text-decoration-none text-dark">Sort ascending</a></li>
                <li><a href="?page={{page}}&amp;q={{query}}&amp;o=-updated_at" class="text-decoration-none text-dark">Sort descending</a></li>
              </ul>
            </div>
          </th>
          <th scope="col">
            <div class="btn-group">
              <button class="btn btn-sm btn-white" type="button"><b>User</b></button>
              <button type="button" class="btn btn-sm btn-white dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false"><span class="visually-hidden">Toggle Dropdown</span></button>
              <ul class="dropdown-menu">
                <li><a href="?page={{page}}&amp;q={{query}}&amp;o=user" class="text-decoration-none text-dark">Sort ascending</a></li>
                <li><a href="?page={{page}}&amp;q={{query}}&amp;o=-user" class="text-decoration-none text-dark">Sort descending</a></li>
              </ul>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        {% for data in dataset %}
          <tr>
            <th scope="row"><a href="{% url 'testing_artikel_detail' data.id %}">{{data.id}}</a></th>
            <td>{{data.kode}}</td>
            <td>{{data.nama}}</td>
            <td>{{data.updated_at}}</td>
            <td>{{data.user}}</td>
            <td class="text-end">
              {% if perms.data.change_testing %}
              <a href="{% url 'testing_artikel_form_comment' data.id %}" class="text-decoration-none">👁️‍🗨️</a>
              {% endif %}
            </td>  
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

  {% include 'paginator_v2.html' %}

</div>
{% endblock body %}