{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{%block title%}{%endblock title%} | Kaleka Satu Data</title>
    <link rel="icon" href="{% static 'bootstrap/image/kaleka_data.svg' %}" type="image/icon type">
    <!-- Bootstraps CSS -->
    <link href="{% static 'bootstrap/bootstrap.min.css' %}" rel="stylesheet">
    {%include 'navbar.html'%}
    {%block head%}{%endblock head%}
    
    <style>
      .collapsing {
        -webkit-transition: none;
        transition: none;
        display: none;
      }

      #sidebar{
        z-index: 1000;
      }
    </style>

  </head>
  <body>
    <!-- JQuery -->
    <script src="{% static 'jquery/jquery-3.6.3.min.js' %}"></script>
    
    <div class="container-fluid">
      <div class="row">
        {%include 'sidebar.html'%}
        <div class="col-lg-3 d-none" id="sidebar-shadow"></div>
        <div id="content">
          {%block body%}{%endblock body%}
        </div>
      </div>
    </div>

    <script>
      $('#sidebar').on('shown.bs.collapse', function () {
        $("#content").addClass("col-lg-9")
        $("#sidebar-shadow").removeClass("d-none")
      });
      
      $('#sidebar').on('hidden.bs.collapse', function () {
        $("#content").removeClass("col-lg-9")
        $("#sidebar-shadow").addClass("d-none")
      });
    </script>
    <!-- Bootstraps JS -->
    <script src="{% static 'bootstrap/bootstrap.bundle.min.js' %}"></script>
  </body>
</html>