<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kaleka Satu Data</title>
    <style>
        body{
            background-color: rgb(44, 43, 43);
            font-size: 28;
        }

        h1, p, ul, li, a{
            color: white;
            font-family: 'Courier New', Courier, monospace;
        }
    </style>
</head>
<body>
    <img src="https://user-images.githubusercontent.com/75885530/205939514-92aaab7a-4e91-4da3-923b-c18af6dfdca6.svg">
    <h1>Selamat Datang di Kaleka Satu Data</h1>
    <p>Web ini sedang dikembangkan. Klik url berikut ini untuk mengakses fitur awal Satu Data:</p>
    <ul>
        <li>Kaleka Satu Data - <a href="http://kaleka.azfaiz.com/admin">Data Management</a></li>
        <li>Kaleka Satu Data - <a href="http://kaleka.azfaiz.com/geoserver">GeoServer</a></li>
    </ul>
    <p>Developed by Data and System Development - Program Team</p>
    <p>Informasi lebih lanjut silakan kontak ke Faiz. E-mail: <a href="mailto: afaiz@kaleka.id">afaiz@kaleka.id</a></p>
</body>
</html>
