{% load static %}

<nav class="navbar bg-light sticky-top">
  <div class="container">
    <div>
      <a class="btn btn-primary-outline" data-bs-toggle="collapse" href="#sidebar" role="button" aria-expanded="false" aria-controls="collapseExample">
        <img src="{% static 'bootstrap/image/kaleka_data.svg' %}" alt="Kaleka Satu Data" width="30" height="24"> <i><b>Kaleka Satu Data</b></i>
      </a>
    </div>


    {% if request.user.is_authenticated %}
    <div class="dropdown text-end">
      <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle text-white" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
        {% if request.user_agent.is_pc %}
          <i class="text-dark">Selamat datang, <b>{{request.user.first_name}} {{request.user.last_name}}</b>
        {% endif %}</i>
        {% for data in profil %}
          {% if data.user == request.user %}
          <img src="{{data.avatar}}" width="42" height="42">
          {% endif %}
        {% empty %}
        <img src="{% static 'bootstrap/image/user.png' %}" width="42" height="42">
        {% endfor %}
      </a>
      <ul class="dropdown-menu dropdown-menu-end text-small" aria-labelledby="dropdownUser1">
        <li><a class="dropdown-item" href="{% url 'password-change' %}">Change Password</a></li>
        <li><a class="dropdown-item" href="{% url 'profile' %}">Profile</a></li>
        <li><hr class="dropdown-divider"></li>
        <li><a class="dropdown-item" href="{% url 'logout' %}">Logout</a></li>
      </ul>
    </div>

    {% else %}
    <div class="text-end">
      <a href="{% url 'login' %}">
        <button type="button" class="btn btn-outline-warning">Login</button>
      </a>
    </div>
    {% endif %}
  </div>
</nav>