{% load static %}

<header class="p-3 bg-dark text-white">
  <div class="container">
    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
      <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
        <img src="{% static 'bootstrap/image/kaleka_data.svg' %}" style="height: 40px;">
      </a>          

      {% if request.user.is_authenticated %}
      <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
        <li><a href="/" class="nav-link px-2 text-secondary">Kaleka Satu Data</a></li>
        <li><a href="#" class="nav-link px-2 text-white">Catalogs</a></li>
        <li><a href="#" class="nav-link px-2 text-white">Dashboards</a></li>
        <li><a href="#" class="nav-link px-2 text-white">Dictionary</a></li>
        
        {% if perms.operation.view_forms %}
        <li><a href="{% url 'forms' %}" class="nav-link px-2 text-white">Forms</a></li>
        {% endif %}
        
        {% if perms.operation.view_docs %}
        <li><a href="{% url 'docs' %}" class="nav-link px-2 text-white">Docs</a></li>
        {% endif %}

        <li><a href="#" class="nav-link px-2 text-white">About</a></li>
      </ul>
      
      {% else %}
      <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
        <li><a href="/" class="nav-link px-2 text-secondary">Kaleka Satu Data</a></li>
      </ul>

      {% endif %}

        <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3">
          <input type="search" class="form-control form-control-dark" placeholder="Search..." aria-label="Search">
        </form>

        {% if request.user.is_authenticated %}
        <div class="dropdown text-end">
          <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle text-white" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
            <img src="{% static 'bootstrap/image/user.png' %}" width="32" height="32" class="rounded-circle"> {{request.user.username}}
          </a>
          <ul class="dropdown-menu text-small" aria-labelledby="dropdownUser1">
            <li><a class="dropdown-item" href="{% url 'password-change' %}">Change Password</a></li>
            <li><a class="dropdown-item" href="#">Profile</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="{% url 'logout' %}">Logout</a></li>
          </ul>
        </div>

        {% else %}
        <div class="text-end">
          <a href="{% url 'login' %}">
            <button type="button" class="btn btn-outline-warning">Login</button>
          </a>
        </div>
        {% endif %}
        
      </div>
    </div>
  </header>