{% load static %}

<!-- CSS -->
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lexend">
<link rel="stylesheet" href="{% static 'bootstrap/bootstrap.min.css' %}">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">
<link rel="stylesheet" href="{% static 'css/styles.css' %}">

<!-- Javascripts -->
<script src="{% static 'js/jquery-3.6.3.min.js' %}"></script>
<script src="{% static 'js/jquery-migrate-1.4.1.min.js' %}"></script>
<script src="{% static 'js/scripts.js' %}"></script>

<!-- Sidebar -->
<nav class="sidebar" style="z-index: 1001;">
  <!-- close sidebar menu -->
  <div class="dismiss">
    <i class='bx bx-x'></i>
  </div>

  <div class="logo">
    <h3><a href="{% url 'home' %}">Kaleka Satu Data</a></h3>
  </div>

  <ul class="list-unstyled menu-elements">
    <li class="active">
      <a href="{% url 'dashboard' %}" class="sidebar-link">
        <i class='bx bxs-dashboard'></i>Dashboard</a>
    </li>
    <li>
      <a href="{% url 'catalog' %}" class="sidebar-link">
        <i class='bx bxs-data'></i>Katalog Data</a>
    </li>
    <li>
      <a href="{% url 'dictionary' %}" class="sidebar-link">
        <i class='bx bx-library'></i>Dictionary</a>
    </li>
    <li>
      <a href="{% url 'forms' %}" class="sidebar-link">
        <i class='bx bxs-file-plus'></i>Form</a>
    </li>
    <li>
      <a href="{% url 'docs' %}" class="sidebar-link">
        <i class='bx bxs-book-content'></i>Dokumentasi</a>
    </li>
    {% if request.user.is_staff %}
    <li>
      <a href="#optAccount" data-bs-toggle="collapse" aria-expanded="false" class="dropdown-toggle sidebar-link" role="button" aria-controls="optAccount">
        <i class='bx bxs-user-rectangle'></i>Akun Khusus</a>
        <ul class="collapse list-unstyled" id="optAccount">
          <li>
            <a href="/admin" class="sidebar-link" target="_blank">Halaman Admin</a>
          </li>
          <li>
            <a href="/geoserver" class="sidebar-link" target="_blank">GeoServer</a>
          </li>
        </ul>
    </li>
    {% endif %}
    <li>
      <a href="#optAbout" data-bs-toggle="collapse" aria-expanded="false" class="dropdown-toggle sidebar-link" role="button" aria-controls="optAbout">
        <i class='bx bxs-info-square'></i>Lainnya
      </a>
      <ul class="collapse list-unstyled" id="optAbout">
        <li>
          <a href="{% url 'about' %}" class="sidebar-link">Tentang KATA</a>
        </li>
        <li>
          <a href="{% url 'tutorial' %}" class="sidebar-link">Panduan</a>
        </li>
        <li>
          <a href="{% url 'request' %}" class="sidebar-link">Permintaan</a>
        </li>
      </ul>
    </li>
  </ul>
</nav>