{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}Update Foto Kegiatan{% endblock title %}

{% block head %}
<style>
  @media screen and (min-width: 500px){
    .page{
      width: 500px;
      margin: auto;
    }
  }
</style>
{% endblock head %}

{% block body %}
<div class="container page mt-4">
  <h1>Update foto kegiatan</h1>
  <p>
    {% for item in data %}
      {% if item.kegiatan.id == form.kegiatan.value and item.foto == form.foto.value %}
      <b>Nama Kegiatan:</b> {{item.kegiatan.nama}}
      {% endif %}
    {% endfor %}
  </p>

  <form action="" method="post" enctype="multipart/form-data">
    {{form | crispy}}
    {% csrf_token %}
    <input type="submit" value="Update Foto Kegiatan" class="btn btn-info mb-3">
  </form>
</div>
{% endblock body %}