{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}Update Orang{% endblock title %}

{% block head %}
<style>
  @media screen and (min-width: 500px){
    .page{
      width: 500px;
      margin: auto;
    }
  }
</style>
{% endblock head %}

{% block body %}
<div class="container page mt-4">
  <h1>Update Orang</h1>
  <p>Update data orang here</p>
  <form action="" method="post">
    {{form | crispy}}
    {% csrf_token %}
    <input type="submit" value="Update Orang" class="btn btn-info mb-3">
  </form>
</div>
{% endblock body %}