{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load leaflet_tags %}

{% block title %}Update Testing Toko{% endblock title %}

{% block head %}
<style>
  @media screen and (min-width: 500px){
    .page{
      width: 500px;
      margin: auto;
    }
  }
</style>
  {% leaflet_js %}
  {% leaflet_css %}
{% endblock head %}

{% block body %}
<div class="container page mt-4">
  <h1>Update Toko</h1>
  <p>Update your toko here</p>
  <form action="" method="post">
    {{form | crispy}}
    {% csrf_token %}
    <input type="submit" value="Update Toko" class="btn btn-info mb-3">
  </form>
</div>
{% endblock body %}