{% extends 'base.html' %}
{% load static %}

{% block title %}About{% endblock title %}
{% block head %}{% endblock head %}
{% block body %}
  <div class="container">
    <header>
      <div class="row mt-3">
        <div class="col text-end">
          <img src="{% static 'bootstrap/image/kaleka_data.svg' %}" height="70px">
        </div>
        <div class="col" style="line-height:20px">
          <i class="fs-2"><b>Kaleka</b></i><br>
          <i class="fs-3">Satu Data</i><br>
          <i class="fs-6 fw-light">is managed by Data Team</i>
        </div>
      </div>
    </header>
    <main class="mt-5">
      <h3>Tentang Kaleka Satu Data</h3>
      <p>Kaleka Satu Data merupakan portal pengelolaan dan manajemen data yang berkaitan dengan kegiatan-kegiatan di Kaleka, bertujuan untuk menciptakan data berkualitas, mudah diakses, dan dapat digunakan untuk berbagai analisis dan riset. Portal data ini dikelola oleh Tim Data guna mewujudkan sistem pertukaran data yang konsisten, efisien dan terintegrasi. Melalui Kaleka Satu Data, seluruh data bermuara di Portal ini sehingga memudahkan untuk melakukan analisis tingkat tinggi.</p>
      <p>Portal Kaleka Satu Data ini dikembangkan dengan menggunakan kerangka berbasis sumber terbuka <i>(open source)</i>. Kerangka belakang <i>(back-end)</i> portal ini menggunakan bahasa pemrograman Python dengan Django. Penyimpanan data disimpan menggunakan basis data relasional PostgreSQL dan ekstensi PostGIS untuk menyimpan dana spasial. Portal ini juga menggunakan GeoServer untuk menjadi penghubung basis data dengan aplikasi non-web seperti QGIS, ArcGIS, Microsoft Access dsb.</p><br>
      <h4>Tutorial menggunakan Portal Kaleka Satu Data</h4>
      <ol>
        <li><a href="{% url 'about_geoserver_qgis' %}">Tutorial menggunakan GeoServer di QGIS</a></li>
      </ol>
    </main>
  </div>
{% endblock body %}