{% extends 'base.html' %}
{% load static %}

{% block title %}Catalog - {{catalog.nama}}{% endblock title %}

{% block head %}
<style>
  .page{
    font-family: 'Courier New', Courier, monospace;
  }

  @media screen and (min-width: 992px){
    .image{
      width: 700px;
    }
  }
</style>
{% endblock head %}

{% block body %}
<div class="container page mt-4">
  <h1>{{catalog.nama}}</h1>
  <p>Maintainer: 
    {% for email in catalog.email_maintainers %}
    <a href="mailto:{{email}}"><span class="badge bg-primary">{{email}}</span></a>
    {% endfor %}
  </p>

  <h3>BigQuery</h3>
  <div class="table-responsive table-scrollable">
    <table class="table table-striped table-hover">
      <thead>
        <tr>
          <th>Table</th>
          <th>BigQuery path</th>
        </tr>
      </thead>
      <tbody>
        {% for key, value in catalog.bigquery_table.items %}
        <tr>
          <td>{{key}}</td>
          <td>{{value}}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

  <h3>Documents</h3>
  <div class="d-flex align-content-start flex-wrap">
    {% for doc in catalog_doc %}
      <div class="m-1 text-center mx-3">
        <a href="{{doc.documents.url}}" class="text-decoration-none text-dark">
          {% if doc.extension == '.docx' %}
          <img src="{% static 'images/files/docx.png' %}" alt="presentation" width="50px"><br>
          {% elif doc.extension == '.doc' %}
          <img src="{% static 'images/files/doc.png' %}" alt="presentation" width="50px"><br>
          {% elif doc.extension == '.pptx' %}
          <img src="{% static 'images/files/pptx.png' %}" alt="presentation" width="50px"><br>
          {% elif doc.extension == '.ppt' %}
          <img src="{% static 'images/files/ppt.png' %}" alt="presentation" width="50px"><br>
          {% elif doc.extension == '.pdf' %}
          <img src="{% static 'images/files/pdf.png' %}" alt="presentation" width="50px"><br>
          {% endif %}
        </a>
        {{doc.filename}}
      </div>
    {% endfor %}
  </div><br>
</div>
{% endblock body %}