{% extends 'base.html' %}
{% load static %}

{% block title %}Catalog - {{catalog.nama}}{% endblock title %}

{% block head %}
<style>
  .page{
    font-family: 'Courier New', Courier, monospace;
  }

  @media screen and (min-width: 992px){
    .image{
      width: 700px;
    }
  }
</style>
{% endblock head %}

{% block body %}
<div class="container page mt-4">
  <h1>{{catalog.nama}}</h1>
  <p>Maintainer: 
    {% for email in catalog.email_maintainers %}
    <a href="mailto:{{email}}"><span class="badge bg-primary">{{email}}</span></a>
    {% endfor %}
  </p>

  <h3>Spreadsheets</h3>
  <div class="d-flex align-content-start flex-wrap">
    {% for key, value in catalog.spreadsheets_download.items %}
      <div class="m-1 text-center">
        <a href="{{value}}" class="text-decoration-none text-dark">
          <img src="{% static 'images/files/spreadsheet.png' %}" alt="presentation" width="50px"><br>
          <i>{{key}}</i><br>
        </a>
      </div>
    {% endfor %}
  </div><br>

  <h3>BigQuery</h3>
  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th>Table</th>
        <td>BigQuery path</td>
      </tr>
    </thead>
    <tbody>
      {% for key, value in catalog.bigquery_table.items %}
      <tr>
        <td>{{key}}</td>
        <td>{{value}}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

  <h3>Documents</h3>
  <div class="d-flex align-content-start flex-wrap">
    {% for key, value in catalog.documents_portable.items %}
      <div class="m-1 text-center">
        <a href="{{value}}" class="text-decoration-none text-dark">
          <img src="{% static 'images/files/portable.png' %}" alt="presentation" width="50px"><br>
          <i>{{key}}</i><br>
        </a>
      </div>
    {% endfor %}
  </div><br>
  <div class="d-flex align-content-start flex-wrap">
    {% for key, value in catalog.documents_document.items %}
      <div class="m-1 text-center">
        <a href="{{value}}" class="text-decoration-none text-dark">
          <img src="{% static 'images/files/document.png' %}" alt="presentation" width="50px"><br>
          <i>{{key}}</i><br>
        </a>
      </div>
    {% endfor %}
  </div><br>

  <h3>Presentations</h3>
  <div class="d-flex align-content-start flex-wrap">
    {% for key, value in catalog.documents_presentation.items %}
      <div class="m-1 text-center">
        <a href="{{value}}" class="text-decoration-none text-dark">
          <img src="{% static 'images/files/presentation.png' %}" alt="presentation" width="50px"><br>
          <i>{{key}}</i><br>
        </a>
      </div>
    {% endfor %}
  </div><br>
</div>
{% endblock body %}