{% extends 'base.html' %}
{% load static %}

{% block title %}Catalog - {{catalog.nama}}{% endblock title %}

{% block head %}
<style>
  .page{
    font-family: 'Courier New', Courier, monospace;
  }

  @media screen and (min-width: 992px){
    .image{
      width: 700px;
    }
  }
</style>
{% endblock head %}

{% block body %}
<div class="container page mt-4">
  <h1>{{catalog.nama}}</h1>
  <p>Maintainer: <i>{{catalog.email_maintainer}}</i></p>
  <a class="btn btn-success" href="{{catalog.spreadsheet_url}}" target="_blank">Google Sheets</a>
  <div class="container d-flex justify-content-center mt-5">
    <iframe 
      class="mb-4"
      width="{{catalog.width}}" 
      height="{{catalog.height}}"
      src="{{catalog.embed_url}}">
    </iframe>
  </div>
</div>
{% endblock body %}