{% extends 'base.html' %}
{% load static %}

{% block title %}Catalog{% endblock title %}

{% block head %}
<style>
  .page{
    font-family: 'Courier New', Courier, monospace;
  }
</style>
{% endblock head %}

{% block body %}
<div class="container mt-4">
  <div class="page mt-4">
    <h1>This is catalog page</h1>
    
    <form class="d-flex mb-3">
      <input class="form-control" type="search" placeholder="Cari catalog" aria-label="Search" name="q">
      <button class="btn btn-outline-secondary ms-2" type="submit">Search</button>
    </form>

    <div class="d-flex justify-content-center flex-wrap">
      {% for data in dataset %}
        {% if data.permission_view in request.user.groups.all %}
          <div class="card text-center mx-2 my-2" style="width: 18rem;">
            <a class="text-decoration-none text-dark" href="{{data.id}}"><img src="{{data.thumbnail.url}}" class="card-img-top" alt="{{data.nama}}"></a>
            <div class="card-body">
              <b class="card_text"><a class="text-decoration-none text-dark" href="{{data.id}}">{{data.nama}}</a></b><br>
              <div class="mt-1">
                <img src="{% static 'img/google_sheets.png' %}" alt="Sheets" height="20px"> {{data.google_sheets|length}}
                <img src="{% static 'img/google_bigquery.png' %}" alt="BigQuery" height="20px"> {{data.bigquery_table|length}}
              </div>
            </div>
          </div>
        {% endif %}
      {% endfor %}
    </div>

  </div>

  {% include 'paginator.html' %}
  
</div>
{% endblock body %}