{% extends 'base.html' %}
{% load static %}

{% block title %}Dashboard{% endblock title %}

{% block head %}
<style>
  .page{
    font-family: 'Courier New', Courier, monospace;
  }
</style>
{% endblock head %}

{% block body %}
<div class="container mt-4">
  <div class="page mt-4">
    <h1>This is dashboard page</h1>

    <form class="d-flex mb-3">
      <input class="form-control" type="search" placeholder="Cari dashboard" aria-label="Search" name="q">
      <button class="btn btn-outline-secondary ms-2" type="submit">Search</button>
    </form>

    <div class="table-responsive table-scrollable">
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">Dashboard</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          {% for data in dataset %}
            {% if data.permission_view in request.user.groups.all %}
              <tr>
                <th scope="row"><a href="{% url 'dashboard_detail' data.id %}">{{data.nama}}</a></th>
                <th class="text-end">{{data.category}}</th>
              </tr>
            {% endif %}
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>

  {% include 'paginator.html' %}

</div>
{% endblock body %}