{% extends 'base.html' %}
{% load static %}

{% block title %}Dashboard{% endblock title %}

{% block head %}
<style>
  .page{
    font-family: 'Courier New', Courier, monospace;
  }
</style>
{% endblock head %}

{% block body %}
<div class="container mt-4">
  <div class="page mt-4">
    <h1>This is dashboard page</h1>

    <form class="d-flex mb-3">
      <input class="form-control" type="search" placeholder="Cari dashboard" aria-label="Search" name="q">
      <button class="btn btn-outline-secondary ms-2" type="submit">Search</button>
    </form>

    <div class="d-flex justify-content-center flex-wrap">
    {% for data in dataset %}
      {% if data.permission_view in request.user.groups.all %}
        <div class="card text-center mx-2 my-2" style="width: 18rem;">
          <a class="text-decoration-none text-dark" href="{{data.id}}"><img src="{% static 'bootstrap/image/data.jpg' %}" class="card-img-top" alt="{{data.nama}}"></a>
          <div class="card-body">
            <b class="card_text"><a class="text-decoration-none text-dark" href="{{data.id}}">{{data.nama}}</a></b><br>
            {% if data.satuan_refresh_data == 'Realtime' %}
              <i>🔄{{data.satuan_refresh_data}}</i> <br>
            {% else %}
              <i>🔄{{data.nilai_refresh_data}} {{data.satuan_refresh_data}}</i> <br>
            {% endif %}
          </div>
        </div>
      {% endif %}
    {% endfor %}
    </div>

  </div>

  {% include 'paginator.html' %}

</div>
{% endblock body %}