{% extends 'base.html' %}
{% load static %}

{% block title %}Documentation - {{docs.judul}}{% endblock title %}

{% block head %}
<style>
  .page{
    font-family: 'Courier New', Courier, monospace;
  }

  @media screen and (min-width: 992px){
    .image{
      width: 700px;
    }
  }
</style>
{% endblock head %}

{% block body %}
<div class="container page mt-4">
  <h1>{{docs.judul}}</h1>
  <p>Last update on {{docs.updated_at}}</p>
  <div class="container image justify-content-center">
    <img src="{{docs.gambar.url}}" width="100%">
  </div>
  <p>{{docs.deskripsi}}</p>
  <ul>
    {% for key, value in docs.dictionary_data.items %}
    <li><b>{{key}}</b>: {{value}}</li>
    {% endfor %}
  </ul>
  <div class="table-responsive table-scrollable">
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">Nama Kolom</th>
          <th scope="col">Deskripsi Kolom</th>
        </tr>
      </thead>
      <tbody>
        {% for key, value in docs_sorted.items %}
        <tr>
          <td>{{key}}</td>
          <td>{{value}}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock body %}