{% extends 'base.html' %}
{% load static %}

{% block title %}Documentation{% endblock title %}

{% block head %}
<style>
  .page{
    font-family: 'Courier New', Courier, monospace;
  }
</style>
{% endblock head %}

{% block body %}
<div class="container mt-4">
  <div class="page mt-4">
    <h1>Documentation of Data</h1>

    <form class="d-flex mb-3">
      <input class="form-control" type="search" placeholder="Cari documentation" aria-label="Search" name="q">
      <button class="btn btn-outline-secondary ms-2" type="submit">Search</button>
    </form>

    <div class="table-responsive table-scrollable">
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">Dataset</th>
            <th scope="col">Deskripsi</th>
            <th scope="col">Last Update</th>
          </tr>
        </thead>
        <tbody>
          {% for data in dataset %}
            <tr>
              <th scope="row"><a href="{% url 'docs_detail' data.id %}">{{data.judul}}</a></th>
              <td>{{data.deskripsi}}</td>
              <td>{{data.updated_at}}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>

  {% include 'paginator.html' %}

</div>
{% endblock body %}