{% extends 'base.html' %}
{% load static %}

{% block title %}Documentation{% endblock title %}

{% block head %}
<style>
  .page{
    font-family: 'Courier New', Courier, monospace;
  }
</style>
{% endblock head %}

{% block body %}
<div class="container mt-4">
  <div class="page mt-4">
    <img src="{% static 'bootstrap/image/kaleka_data.svg' %}" height="200px">
    <h1>Documentation of Data</h1>
    <div class="table-responsive table-scrollable">
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Data</th>
            <th scope="col">Deskripsi</th>
            <th scope="col">Last Update</th>
          </tr>
        </thead>
        <tbody>
          {% for data in docs %}
            <tr>
              <th scope="row"><a href="{% url 'docs_detail' data.id %}">{{data.id}}</a></th>
              <td>{{data.judul}}</td>
              <td>{{data.deskripsi}}</td>
              <td>{{data.updated_at}}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
</div>
{% endblock body %}