{% extends 'base.html' %}
{% load static %}

{% block title %}Documentation - {{docs.judul}}{% endblock title %}

{% block head %}
<style>
  .page{
    font-family: 'Courier New', Courier, monospace;
  }
</style>
{% endblock head %}

{% block body %}
<div class="container page mt-4">
  <h1>{{docs.judul}}</h1>
  <p>Last update at {{docs.updated_at}}</p>
  <div class="container">
    <img src="http://kaleka.azfaiz.com/media/{{docs.gambar}}" width="100%">
  </div>
  <p>{{docs.deskripsi}}</p>
  <ul>
  {% for data in docs.deskripsi_data %}
    <li>{{data}}</li>
  {% endfor %}
  </ul>
</div>
{% endblock body %}