{% extends 'base.html' %}
{% load static %}

{% block title %}Forms{% endblock title %}

{% block head %}
<style>
  .page{
    font-family: 'Courier New', Courier, monospace;
  }
</style>
{% endblock head %}

{% block body %}
<div class="container mt-4">
  <div class="page mt-4">
    <h1>This is Forms Page</h1>

    <form class="d-flex mb-3">
      <input class="form-control" type="search" placeholder="Cari form" aria-label="Search" name="q">
      <button class="btn btn-outline-secondary ms-2" type="submit">Search</button>
    </form>

    <div class="table-responsive table-scrollable">
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">Forms dataset</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          {% for data in dataset %}
            {% if data.perms_view in perms %}
              <tr>
                <th scope="row"><a href="{{data.url_path}}">{{data.nama}}</a></th>
                <td class="text-end">
                  {% if data.perms_add in perms %}
                  <a href="{{data.url_add}}" class="text-decoration-none">➕</a>
                  {% endif %}
                </td>
              </tr>
            {% endif %}
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>

  {% include 'paginator.html' %}

</div>
{% endblock body %}