{% load static %}

<style>
  .card-hover:hover {
    background-color: orange;
  }

  /* @media screen and (min-width: 400px){ */
    .span-div-1{
      width: max-content;
    }
    
    .span-div-2{
      width: 10%;
    }
  /* } */

</style>

<div class="offcanvas offcanvas-start" data-bs-scroll="true" data-bs-backdroa="false" tabindex="-1" id="offcanvasScrolling" aria-labelledby="offcanvasScrollingLabel">
  <header class="offcanvas-header pb-0">
    <h4 class="offcanvas-title">
      <img src="{% static 'bootstrap/image/kaleka_data.svg' %}" style="height: 40px;">
      Form Data
    </h4>
    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </header>
  <div class="offcanvas-body">
    <!-- TESTING ARTIKEL -->
    {% if perms.data.view_testing %}
    <div class="card btn-outline-warning bg-light mb-2">
      <div class="row p-1">
        <div class="col-10">
          <a class="card-body text-black text-decoration-none p-0 ps-2" href="{% url 'testing_artikel_list' %}" style="display: block;">Testing - Artikel</a>
        </div>
        <div class="col-2">
          <a class="text-decoration-none" href="{% url 'testing_artikel_form' %}" style="display: block;">➕</a>
        </div>
      </div>
    </div>
    {% endif %}
    <!-- TESTING TOKO -->
    {% if perms.data.view_shop %}
    <div class="card btn-outline-warning bg-light mb-2">
      <div class="row p-1">
        <div class="col-10">
          <a class="card-body text-black text-decoration-none p-0 ps-2" href="{% url 'testing_toko_list' %}" style="display: block;">Testing - Toko</a>
        </div>
        <div class="col-2">
          <a class="text-decoration-none" href="" style="display: block;">➕</a>
        </div>
      </div>
    </div>
    {% endif %}
  </div>
</div>