{% extends 'base.html' %}
{% load static %}

{% block title %} Home {% endblock title %}

{% block head %}
<style>
    body{
        background-color: rgb(85, 85, 85);
        font-size: 28;
    }

    .home {
        color: white;
        font-family: 'Courier New', Courier, monospace;
    }
</style>
{% endblock head %}

{% block body %}
<div class="container home mt-5">
    <img src="{% static 'bootstrap/image/kaleka_data.svg' %}" height="200px">
    <h1>Selamat Datang di Kaleka Satu Data</h1>
    <p>Web ini sedang dikembangkan. Klik url berikut ini untuk mengakses fitur awal Satu Data:</p>
    <ul>
        <li>Kaleka Satu Data - <a href="http://kaleka.azfaiz.com/admin" class="text-white text-decoration-underline">Data Management</a></li>
        <li>Kaleka Satu Data - <a href="http://kaleka.azfaiz.com/geoserver" class="text-white text-decoration-underline">GeoServer</a></li>
    </ul>
    <p>Developed by Data and System Development - Program Team</p>
    <p>Informasi lebih lanjut silakan kontak ke Faiz. E-mail: <a href="mailto: afaiz@kaleka.id" class="text-white text-decoration-underline">afaiz@kaleka.id</a></p>
</div>
{% endblock body %}
