{% extends 'base.html' %}
{% load static %}

{% block title %} Home {% endblock title %}

{% block head %}
<style>
    body{
        font-size: 28;
    }

    /* .home {
        font-family: 'Courier New', Courier, monospace;
    } */
</style>
{% endblock head %}

{% block body %}
<div class="container mt-5">
    <div class="text-center mb-4">
        <img src="{% static 'bootstrap/image/kaleka_data.svg' %}" height="100px">
        <h1 class="display-4">Selamat Datang di Kaleka Satu Data</h1>
    </div>

    <div class="row m-2">
        <div class="col-10 p-0">
            <form class="input-group mb-3">
                <input type="text" class="form-control" placeholder="Cari ringkasan statistik" name="q">
            </form>
        </div>
        
        <div class="col-2">
            <button class="btn btn-outline-secondary dropdown-toggle"  type="button" data-bs-toggle="dropdown" aria-expanded="false" style="width: 100%;">Tags</button>
            <ul class="dropdown-menu" id="tags">
                <div class="mx-1">
                    <input type="text" class="form-control" id="tag-input" onkeyup="filterTag()" placeholder="Filter Tags" name="tags">
                </div>
            </ul>
        </div>
    </div>
    
    <div id="data" class="d-flex justify-content-center flex-wrap text-center"></div>

    <!-- <div class="text-center">
        <img src="{% static 'bootstrap/image/kaleka_data.svg' %}" height="100px">
        <h1 class="display-4">Selamat Datang di Kaleka Satu Data</h1>
    </div>
    <div class="card text-center my-3">
        <div class="card-header">DASHBOARD DATA</div>
        <div class="card-body">
          <h5 class="card-title"><b>RINGKASAN DATA PROGRESS</b></h5>
          <p class="card-text">Tampilan ringkasan data bisa dilihat di sini</p>
          <a href="{% url 'dashboard' %}" class="btn btn-outline-primary">Dashboard Data</a>
        </div>
    </div>
    <div class="card text-center my-3">
        <div class="card-header">KATALOG DATA</div>
        <div class="card-body">
          <h5 class="card-title"><b>RINCIAN DATA PROGRESS</b></h5>
          <p class="card-text">Tampilan rincian data bisa dilihat di sini</p>
          <a href="{% url 'catalog' %}" class="btn btn-outline-primary">Katalog Data</a>
        </div>
    </div> -->

    
    <!-- <p>Kaleka Satu Data merupakan portal pengelolaan dan manajemen data yang berkaitan dengan kegiatan-kegiatan di Kaleka, bertujuan untuk menciptakan data berkualitas, mudah diakses, dan dapat digunakan untuk berbagai analisis dan riset. Portal data ini dikelola oleh Tim Data guna mewujudkan sistem pertukaran data yang konsisten, efisien dan terintegrasi. Melalui Kaleka Satu Data, seluruh data bermuara di Portal ini sehingga memudahkan untuk melakukan analisis tingkat tinggi.</p>
    <p><b>Developed by Data and System Development - Program Team</b></p>
    <p>Informasi lebih lanjut silakan kontak ke Faiz. E-mail: <a href="mailto: afaiz@kaleka.id" class="text-white text-decoration-underline">afaiz@kaleka.id</a></p> -->
</div>

<script src="{% static 'operation/home.js' %}"></script>

{% endblock body %}
