{% extends 'base.html' %}
{% load static %}

{% block title %} Home {% endblock title %}

{% block head %}
<style>
    body{
        background-color: rgb(85, 85, 85);
        font-size: 28;
    }

    .home {
        color: white;
        font-family: 'Courier New', Courier, monospace;
    }
</style>
{% endblock head %}

{% block body %}
<div class="home container mt-5">
    <img src="{% static 'bootstrap/image/kaleka_data.svg' %}" height="200px">
    <h1>Selamat Datang di Kaleka Satu Data</h1>
    <p>Kaleka Satu Data merupakan portal pengelolaan dan manajemen data yang berkaitan dengan kegiatan-kegiatan di Kaleka, bertujuan untuk menciptakan data berkualitas, mudah diakses, dan dapat digunakan untuk berbagai analisis dan riset. Portal data ini dikelola oleh Tim Data guna mewujudkan sistem pertukaran data yang konsisten, efisien dan terintegrasi. Melalui Kaleka Satu Data, seluruh data bermuara di Portal ini sehingga memudahkan untuk melakukan analisis tingkat tinggi.</p>
    <p><b>Developed by Data and System Development - Program Team</b></p>
    <p>Informasi lebih lanjut silakan kontak ke Faiz. E-mail: <a href="mailto: afaiz@kaleka.id" class="text-white text-decoration-underline">afaiz@kaleka.id</a></p>
</div>
{% endblock body %}
