{% extends 'base.html' %}
{% load static %}

{% block title %}Kegiatan - {{kegiatan.nama}}{% endblock title %}

{% block head %}
<style>
  /* .page{
    font-family: 'Courier New', Courier, monospace;
  } */
</style>
{% endblock head %}

{% block body %}
<div class="container page mt-4">
  <h1>{{kegiatan.nama}}</h1>
  <h6>Terakhir diupdate pada {{kegiatan.updated_at}}</h6>
  <div class="mb-3">
    {% if perms.data.change_kegiatan %}
      <a class="btn btn-outline-info btn-sm" href="{% url 'kegiatan_form_update' kegiatan.id %}">Update Data</a>
    {% endif %}
    {% if perms.data.delete_kegiatan %}
      <a class="btn btn-outline-danger btn-sm" 
        href="{% url 'kegiatan_form_delete' kegiatan.id %}"
        onclick="return confirm('Are you sure you want to delete this item?');">
          Delete Data
      </a>
    {% endif %}
  </div>
  <ul>
    <li><b>Nama Kegiatan:</b> {{kegiatan.nama}}</li>
    <li><b>Tanggal Pelaksanaan:</b> {{kegiatan.tanggal_mulai}} - {{kegiatan.tanggal_selesai}}</li>
    <li><b>Daftar Peserta</b> 
      {% if perms.data.add_peserta_kegiatan %}
      <a href="{% url 'peserta_kegiatan_form_add' %}" target="_blank"><span class="badge bg-success">Add Peserta</span></a>
      {% endif %} <br>
      <div class="table-responsive table-scrollable">
        <table class="table table-striped">
          <thead>
            <tr>
              <td>No.</td>
              <td>Nama Lengkap</td>
              <td>NIK</td>
              <td>Alamat</td>
              <th></th>
            </tr>
          </thead>
          <tbody>
            {% for p in peserta %}
            <tr>
              <th></th>
              <td>{{p.peserta|title}}</td>
              <td>{{p.peserta.nik}}</td>
              <td>{{p.peserta.alamat.nama_desa|title}} RT {{p.peserta.rt}} RW {{p.peserta.rw}}, {{p.peserta.alamat.nama_kec|title}}, {{p.peserta.alamat.nama_kabkot|title}}</td>
              <td class="text-end">
                {% if perms.data.change_testing %}
                <a href="/forms/kegiatan/peserta-update/{{p.id}}" class="text-decoration-none" target="_blank">✏️</a>
                {% endif %}
                {% if perms.data.delete_testing %}
                <a href="/forms/kegiatan/peserta-delete/{{p.id}}" class="text-decoration-none" target="_blank" onclick="return confirm('Are you sure you want to delete this item?');">❌</a>
                {% endif %}
              </td> 
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </li>
    <li><b>Dokumentasi</b>
      {% if perms.data.add_foto_kegiatan %}
      <a href="{% url 'foto_kegiatan_form_add' %}" target="_blank"><span class="badge bg-success">Add Foto</span></a>
      {% endif %} <br>
      <div class="d-flex align-content-start flex-wrap">
      {% for f in foto %}
        <div class="m-1 text-center">
          <img src="{{f.foto.url}}" alt="" height="100px"><br>
          <a href="{{f.foto.url}}" download>Download</a>
        </div>
      {% endfor %}
      </div>
    </li>
  </ul>
  <p>Data ini dikelola oleh <b><i>{{kegiatan.user}}</i></b></p>
</div>

<script>
  const table = document.getElementsByTagName('tbody')[0],
  rows = table.getElementsByTagName('tr'),
  text = 'textContent' in document ? 'textContent' : 'innerText';

  for (let i = 0, len = rows.length; i < len; i++) {
    rows[i].children[0][text] = 1 + i + rows[i].children[0][text];
  }
</script>
{% endblock body %}