{% extends 'base.html' %}
{% load static %}
{% load leaflet_tags %}

{% block title %}Lahan - {{lahan.petani.nama_lengkap}}{% endblock title %}

{% block head %}
<style>
  /* .page{
    font-family: 'Courier New', Courier, monospace;
  } */
</style>
  {% leaflet_js %}
  {% leaflet_css %}
{% endblock head %}

{% block body %}
<!-- LEAFLET FULL SCREEN -->
<script src="{% static 'leaflet/fullscreen/leaflet.fullscreen.min.js' %}"></script>
<link rel="stylesheet" href="{% static 'leaflet/fullscreen/leaflet.fullscreen.css' %}">
<!-- LEAFLET GEOLOCATION -->
<link rel="stylesheet" href="{% static 'leaflet/geolocation/L.Control.Locate.min.css' %}" />
<script src="{% static 'leaflet/geolocation/L.Control.Locate.min.js' %}" charset="utf-8"></script>

<div class="container page mt-4">
  {% if lahan.legalitas == None %}
  <h1>{{lahan.id}}</h1>
  {% else %}
  <h1>{{lahan.legalitas.nomor_legalitas}} ({{lahan.legalitas.jenis_legalitas}})</h1>
  {% endif %}
  
  <h6>Terakhir diupdate pada {{lahan.updated_at}}</h6>
  <div class="mb-3">
    {% if perms.data.change_lahan %}
      <a class="btn btn-outline-info btn-sm" href="{% url 'lahan_form_update' lahan.id %}">Update Data</a>
    {% endif %}
    {% for user in profil %}
      {% if user.status == 'Observer' %}
        <a class="btn btn-outline-warning btn-sm" href="{% url 'lahan_form_comment' lahan.id %}">Comment Data</a>
      {% endif %}
    {% endfor %}
    {% if perms.data.delete_lahan %}
      <a class="btn btn-outline-danger btn-sm" 
        href="{% url 'lahan_form_delete' lahan.id %}"
        onclick="return confirm('Are you sure you want to delete this item?');">
          Delete Data
      </a>
    {% endif %}
  </div>
  <ul>
    <li><b>Geometri Lahan:</b><br> 
      <div class="pb-2 pt-3">
        {% leaflet_map "gis" callback="window.place_lahan" %}
      </div>
    </li>
    <li><b>Nama Petani:</b> {{lahan.petani.nama_lengkap}}</li>
    <li><b>Status Petani:</b> {{lahan.status_petani|title}}</li>
    <li><b>Alamat Petani:</b> {{lahan.petani.alamat.nama_desa|title}} RT {{lahan.petani.rt}} RW {{lahan.petani.rw}}, {{lahan.petani.alamat.nama_kec|title}}, {{lahan.petani.alamat.nama_kabkot|title}}, {{lahan.petani.alamat.nama_prov}}</li>
    <li><b>Jenis Legalitas:</b> {{lahan.legalitas.jenis_legalitas}}</li>
    <li><b>Nomor Legalitas:</b> {{lahan.legalitas.nomor_legalitas}}</li>
    <li><b>Tahun Legalitas:</b> {{lahan.legalitas.tahun_legalitas}}</li>
    <li>
      <b>Dokumen Lingkungan</b>
      {% if perms.data.add_lahanlegalitaslingkungan %}
      <a href="" target="_blank"><span class="badge bg-success">Add Dokumen Lingkungan</span></a>
      {% endif %} <br>
      <div class="table-responsive table-scrollable">
        <table class="table table-striped">
          <thead>
            <tr>
              <td>No.</td>
              <td>Jenis Dokumen</td>
              <td>Nomor Dokumen</td>
              <td>Tahun Dokumen</td>
              <td>Status Dokumen</td>
              <td>Status Data</td>
              <th></th>
            </tr>
          </thead>
          <tbody>
            {% for item in dokling %}
            <tr>
              <th></th>
              <td>{{item.jenis_dokumen}}</td>
              <td>{{item.nomor_dokumen}}</td>
              <td>{{item.tahun_dokumen}}</td>
              <td>{{item.status_dokumen}}</td>
              <td>
                {% if item.status_data == 'Updated' %}
                <span class="badge bg-success">{{item.status_data}}</span>
                {% elif item.status_data == 'Need Confirmation' %}
                <span class="badge bg-warning text-dark">{{item.status_data}}</span>
                {% else %}
                <span class="badge bg-danger">{{item.status_data}}</span>
                {% endif %}
              </td>
              <td class="text-end">
                {% if perms.data.change_testing %}
                <a href="" class="text-decoration-none" target="_blank">✏️</a>
                {% endif %}
                {% if perms.data.delete_testing %}
                <a href="" class="text-decoration-none" target="_blank" onclick="return confirm('Are you sure you want to delete this item?');">❌</a>
                {% endif %}
              </td> 
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </li>
    <li>
      <b>Dokumen STDB</b><br>
      <div class="table-responsive table-scrollable">
        <table class="table table-striped">
          <thead>
            <tr>
              <td id="nomor_dokling">No.</td>
              <td>Nomor Dokumen</td>
              <td>Tahun Dokumen</td>
              <td>Status Dokumen</td>
              <td>Jumlah Pohon</td>
              <td>Tahun Tanam</td>
              <td>Status Data</td>
              <th></th>
            </tr>
          </thead>
          <tbody>
            {% for item in stdb %}
            <tr>
              <th></th>
              <td>{{item.nomor_dokumen}}</td>
              <td>{{item.tahun_dokumen}}</td>
              <td>{{item.status_dokumen}}</td>
              <td>{{item.jumlah_pohon}}</td>
              <td>{{item.tahun_tanam}}</td>
              <td>
                {% if item.status_data == 'Updated' %}
                <span class="badge bg-success">{{item.status_data}}</span>
                {% elif item.status_data == 'Need Confirmation' %}
                <span class="badge bg-warning text-dark">{{item.status_data}}</span>
                {% else %}
                <span class="badge bg-danger">{{item.status_data}}</span>
                {% endif %}
              </td>
              <td class="text-end">
                {% if perms.data.change_testing %}
                <a href="" class="text-decoration-none" target="_blank">✏️</a>
                {% endif %}
                {% if perms.data.delete_testing %}
                <a href="" class="text-decoration-none" target="_blank" onclick="return confirm('Are you sure you want to delete this item?');">❌</a>
                {% endif %}
              </td> 
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </li>
  </ul>
  <p>Data ini dikelola oleh <b><i>{{lahan.user}}</i></b><br>
    <i>Status Data: </i>
    {% if lahan.status_data == 'Updated' %}
      <span class="badge bg-success">{{lahan.status_data}}</span><br>
    {% elif lahan.status_data == 'Need Confirmation' %}
      <span class="badge bg-warning text-dark">{{lahan.status_data}}</span><br>
    {% else %}
      <span class="badge bg-danger">{{lahan.status_data}}</span><br>
    {% endif %}
    <i>Keterangan:</i> <br>
    <input type="text" value="{{lahan.keterangan}}" class="form-control input-sm" disabled>
  </p>

</div>

<!-- NUMBERING SCRIPTS -->
<script>
  function nomor_otomatis(tabel){
    const table = document.getElementsByTagName('tbody')[tabel],
    rows = table.getElementsByTagName('tr'),
    text = 'textContent' in document ? 'textContent' : 'innerText';
  
    for (let i = 0, len = rows.length; i < len; i++) {
      rows[i].children[0][text] = 1 + i + rows[i].children[0][text];
    }
  }

  nomor_otomatis(0)
  nomor_otomatis(1)
</script>

<!-- LEAFLET SCRIPTS -->
<script type="text/javascript">
  function place_lahan(map, options){
    const dataset = JSON.parse('{{lahan.poligon_lahan.geom.geojson|safe}}')
    const geojson = L.geoJSON(dataset).addTo(map)

    geojson.eachLayer(function (layer) {
      map.fitBounds(layer.getBounds());
    });

    map.addControl(new L.Control.Fullscreen());

    L.control.locate().addTo(map);
  }
</script>
{% endblock body %}