{% extends 'base.html' %}
{% load static %}

{% block title %}Lahan{% endblock title %}

{% block head %}
<style>
  .page{
    font-family: 'Courier New', Courier, monospace;
  }

  .table-scrollable {
    overflow-x: auto;
    max-width: 100%;
    margin: auto;
  }
</style>
{% endblock head %}

{% block body %}
<div class="container mt-4">
  <h1 class="page">Cari Lahan</h1>
  <form class="d-flex mb-3">
    <input class="form-control" type="search" placeholder="Cari lahan berdasarkan nama atau NIK petani" aria-label="Search" name="q">
    <button class="btn btn-outline-secondary ms-2" type="submit">Search</button>
  </form>

  {% for data in dataset %}
  <div class="card mt-1 mb-1">
    <h5 class="card-header">{{data.petani.nama_lengkap}}</h5>
    <div class="card-body">
      <ul>
        <li><b>Geometri Lahan:</b> {{data.geom}}</li>
        <li><b>NIK Petani:</b> {{data.petani.nik}}</li>
        <li><b>Status Petani:</b> {{data.status_petani|title}}</li>
        <li><b>Status Hukum:</b> {{data.jenis_legalitas|title}}</li>
        <li><b>Nomor Legalitas:</b> {{data.nomor_legalitas}}</li>
        <li><b>Tahun Penerbitan</b>: {{data.tahun_legalitas}}</li>
      </ul>
      <button class="btn btn-secondary copy-button" data-url="{{data.id}}">Salin Referensi</button>
    </div>
  </div>
  {% empty %}
  <p class="text-center mt-5">Pencarian tidak ditemukan, coba cari kata kunci yang lain.</p>
  {% endfor %}

  {% include 'paginator.html' %}

</div>

<script src="{% static 'js/copy_clipboard/CopyClipboard.js' %}"></script>
{% endblock body %}